name: Build BridgeSSH

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Electron app
        run: |
          if [[ "${{ matrix.os }}" == *"windows"* ]]; then
            npx electron-builder --win
          elif [[ "${{ matrix.os }}" == *"ubuntu"* ]]; then
            npx electron-builder --linux
          elif [[ "${{ matrix.os }}" == *"macos"* ]]; then
            npx electron-builder --mac
          fi

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: BridgeSSH-${{ matrix.os }}
          path: dist/
